<div class="row" style="padding-top:15px;">
  <div class="col-6 col-md">
    <h5 style="color:#F5DF4D">Service & Support </h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-white" href="#">Return & Warranty</a></li>
      <li><a class="text-white" href="#">Finance</a></li>
      <li><a class="text-white" href="#">Term & Conditions</a></li>
      <li><a class="text-white" href="#">Payment Information</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5 style="color:#F5DF4D">Promotions & Offers </h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-white" href="#">Click & Collect</a></li>
      <li><a class="text-white" href="#">Delivery</a></li>
      <li><a class="text-white" href="#">Projects</a></li>
      <li><a class="text-white" href="#">Final resource</a></li>
    </ul>
  </div>

  <div class="col-12 col-md">
    <h5 style="color:#F5DF4D">Contact</h5>
    <ul class="list-unstyled text-small">
      <li class="text-white"><i class="bi bi-telephone-fill"></i>: 04-2600026</li>
      <li class="text-white"><i class="bi bi-shop"></i>: 4 Hillary Court, Naenae, LowerHutt<br /></li>
      <li class="text-white"><i class="bi bi-envelope-fill"></i>: dadealsnaenae@gmail.com</li>
      <li><a class="link text-white" href="#"><i class="bi bi-facebook"></i></a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md" style="text-align: center">
    <small class="d-block mb-3 text-muted">&copy; Harvest Season Ltd 2021</small>
  </div>
</div>
